 body {
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
}

img, svg, video, audio {
  max-width: 100%;
}



/* -------------------------------------------------------------------------
 Accordion
---------------------------------------------------------------------------- */
/** Accordion Block **/
.accordion {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/** Accordion Elements **/
.accordion__item {
  border-bottom: 1px solid black;
}
.accordion__title {
  position: relative;
  margin: 0;
  padding: .5rem;
  font: bold 1rem/1 Arial, sans-serif;
  background-color: #7E8081;
  color: white;
  transition: all .4s;
}
.accordion__item--open .accordion__title {
  background-color: #EF0734;
}

.accordion__content {
  padding: 1rem;
  border-top: 1px solid black;
}

/** Accordion Modifiers **/
.accordion--icon .accordion__title {
  padding-left: 28px;
}

.accordion--icon .accordion__title:before {
  content: "\f054";
  position:absolute;
  left: 10px;
  top: 8px;
  font-family: FontAwesome;
  transition: transform .4s;
}

.accordion--icon .accordion__item--open .accordion__title:before {
  transform: rotate(90deg);
}

/** Utility Styles **/
.hidden { display: none; }



/* -------------------------------------------------------------------------
 Buttons
---------------------------------------------------------------------------- */
.button {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: .5rem 1rem;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #ddd 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ddd 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#ddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ddd',GradientType=0 );
  border: 1px solid #999;
  border-radius: .5rem;
  box-shadow: 0 2px 0 0 #333;
  outline: none;
  font: 1rem/1.3 Arial, sans-serif;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.button:active {
  top: 2px;
  box-shadow: 0 0 0 0;
}


/** Button Elements **/
.button__icon {
  margin-right: 5px;
  vertical-align: text-bottom;
}


/** Button Block Modifiers **/
.button--secondary {
  background: #ffdd7f;
  background: -moz-linear-gradient(top,  #ffdd7f 0%, #febf04 100%);
  background: -webkit-linear-gradient(top,  #ffdd7f 0%,#febf04 100%);
  background: linear-gradient(to bottom,  #ffdd7f 0%,#febf04 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd7f', endColorstr='#febf04',GradientType=0 );
  border-color: #B78703;
}

.button--tertiary {
  background: #7db9e8;
  background: -moz-linear-gradient(top,  #7db9e8 0%, #1e5799 100%);
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#1e5799 100%);
  background: linear-gradient(to bottom,  #7db9e8 0%,#1e5799 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
  border-color: #133760;
  color: white;
}

.button--lg {
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 0 0 #333;
}
.button--lg:active {
  top: 4px;
  box-shadow: 0 0 0 0;
}


/** Button Element Modifiers **/
.button__icon--reverse {
  float: right;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 0;
  transform: scaleX(-1);
}
