<button class="button">Standard Button</button>
<br><br>
<button class="button">
  <i class="fa fa-chevron-left button__icon" aria-hidden="true"></i>
  Standard Button with Icon
</button>
<br><br>
<button class="button button--lg">Large Button</button>
<br><br>
<button class="button button--lg">
  <i class="fa fa-chevron-left button__icon" aria-hidden="true"></i>
  Large Button with Icon
</button>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
