<button class="button button--secondary">Secondary Button</button>
<br><br>
<button class="button button--secondary">
  <i class="fa fa-chevron-left button__icon" aria-hidden="true"></i>
  Secondary Button with Icon
</button>
<br><br>
<button class="button button--secondary button--lg">Secondary Large Button</button>
<br><br>
<button class="button button--secondary button--lg">
  <i class="fa fa-chevron-left button__icon" aria-hidden="true"></i>
  Secondary Large Button with Icon
</button>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
