<button class="button button--tertiary">Tertiary Button</button>
<br><br>
<button class="button button--tertiary">
  <i class="fa fa-chevron-left button__icon" aria-hidden="true"></i>
  Tertiary Button with Icon
</button>
<br><br>
<button class="button button--tertiary button--lg">Tertiary Large Button</button>
<br><br>
<button class="button button--tertiary button--lg">
  <i class="fa fa-chevron-left button__icon" aria-hidden="true"></i>
  Tertiary Large Button with Icon
</button>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
